# Git
.git
.gitignore

# Ruby/Bundler
vendor/
.bundle/
.bundle/
*.gem
*.rbc

# Node/Yarn/JS
node_modules/
npm-debug.log*
yarn-error.log*
.pnp.*
.cache/

# Rails runtime/artifacts
log/*
!log/.keep
tmp/*
!tmp/.keep
storage/*
!storage/.keep
public/assets/*
public/packs/*
coverage/
spec/examples.txt
.rspec_status
.byebug_history

# OS/editor trash
.DS_Store
Thumbs.db
*.swp
*.swo

# Docs
*.md
