<script>
  fetch('<%= sessions_path %>', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRF-Token': '<%= form_authenticity_token %>'
    },
    body: JSON.stringify({ id: <%= @user.id %> })
  })
  .then(response => response.json())
  .then(data => {
    if (data.redirect_url) {
      window.location.href = data.redirect_url;
    } else {
      document.body.innerHTML += `<p>Not redirected</p>`;
    }
  })
  .catch(error => {
    document.body.innerHTML += `<p>Error: ${error.message}</p>`;
  });
</script>
