<h3>ようこそ</h3>

<p></p>


  <%= @user.name + "さん" %>

  <br>


<%= button_to "　スタート　", new_post_path, method: :get %>




<p>login_poster.html.erb_sessionID: <%= session[:user_id] %></p>
