<h3>みんなで香典集計</h3>

<%= render 'shared/flash' %>

<p></p>

<% @poster_users.each do |poster_user| %>
  <%= button_to poster_user.name + 'さんを招待する', login_form_session_path(poster_user), method: :post, data: { turbo: false }, id: "invite-button-#[poster_user.id]" %>

  <br>
<% end %>

<%= button_to '集計の状況を確認する　', admin_session_path, method: :post %>
