<h3>みんなで香典集計</h3>

<p></p>

<% @poster_users.each do |poster_user| %>
  <%= button_to poster_user.name + 'さんを招待する', login_form_qr_code_path(poster_user), method: :post, data: { turbo: false }, id: "invite-button-#[poster_user.id]" %>

  <br>
<% end %>

<%= button_to '集計の状況を確認する　', users_path, method: :get %>
